<div class="row">

	<div class="col-lg-12 col-sm-12">
		<div class="col-lg-12 col-sm-12">
			<span class="title"><: $header :></span>
		</div>
		<div class="col-lg-12 col-sm-12 hero-feature">
			<: $body | raw :>
		</div>
	</div>

</div>
